<head>
  <style>
    body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
        }

       .header {
           
            background-color:black;
            color: white;
            text-align: center;
            padding: 0px;
            
        }

        .logo-container {
            display: inline-block;
            vertical-align: middle;
            margin-left: 0px;
            
        }

        .logo-container img {
            width: 70px;
            vertical-align: middle;
        }

          h1 {
            color: white;
            font-style: italic;
            font-weight: bolder;
            font-size: 60px;
            display: inline-block;
            vertical-align: middle;margin: 0;
        }
/* this the css design for the side menu*/
        .sidenav{
            height: 100%;
            width: 130px; 
            z-index: 1;
            
            top: 0; 
            left: 0;
            background-color:black; 
            overflow-x: hidden; 
            padding-top: 15px;
            position: fixed;
        }

        .sidenav a{
         padding: 22px;
         display: inline-block;
        font-size:20px;
        font-style: italic;
        color:white;
        text-decoration:wavy;
      
        }

        .sidenav a:hover{
         color:black;
         background-color: white;   
        }
/*this the css desin for the footer*/
        .footer{

            position:fixed;
            bottom:0;
            left:0;
            background-color: rgb(75, 4, 4);
            width:100%;
            text-align: center;
            padding: 10px;
            
            
        }

        .footer a{
            color: white;
            font-style: italic;
            font-size: 25px;
            text-decoration: underline;
        }

        /* css for the content area*/
        .content {
    padding: 0;
    text-align: center;
    margin-left: 130px;
    
}

.content h1 {
    /* Additional styles for h1 if needed */
   margin:0px; 
   color:rgb(68, 4, 4);
   font-style: italic;
   font-size: 40px;
   text-decoration: underline; /* Remove default margin */
}
.content p{
    text-align: center;
    padding: 20px;
    margin:50px;
    
    font-size: 18px;
    border: 4px solid black;
    border-radius: 0px;
   
}
.content img{
    margin: 0;
    
}

  </style>
</head>

<body>
  <h1>Privacy Policy</h1>
  <p>This is the privacy policy for our website. We respect your privacy and are committed to protecting any information you provide us while using our website.</p>

  <h2>Information Collection and Use</h2>
  <p>We do not collect any personal information from our users. However, we may collect non-personal information such as browser type, operating system, and pages visited to improve our website's performance and user experience.</p>

  <h2>Third-party Services</h2>
  <p>We may use third-party services, such as analytics tools, which may collect information sent by your browser as part of a web page request, such as cookies or your IP address. This information is used to analyze and improve our website's performance.</p>

  <h2>Changes to This Privacy Policy</h2>
  <p>We reserve the right to update or change our privacy policy at any time. Any changes will be posted on this page, and the last updated date will be modified accordingly.</p>

  <p>If you have any questions about our privacy policy, please contact us.</p>
</body>